/* color pallete
using background image then
black: #1E080B
dark red: #9D2C1C
bright red: #F54820
grey1: #85716C 
grey2:  #BDA89D

fonts
font-family: 'DM Serif Display', serif; 
font-family: 'Varela Round', sans-serif;
*/
